<a href="https://colab.research.google.com/github/ahvblackwelltech/Mortality-in-the-Correctional-System/blob/main/Mortality_in_the_Correctional_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.read_csv('/content/BOP-Individual.csv')

In [4]:
df.head()

,State,Year,Month,Death.Date,Facility,Death.Age,Sex,Race,First.Name,Last.Name,Circumstance.General,Circumstance.Specific,ID.No,UCLA.ID
0,Missouri,2015,January,2015-01-01,Springfield,65.0,Male,Black,NaN,NaN,Natural Causes,NaN,26727-083,2436.0
1,North Carolina,2015,January,2015-01-02,Butner,60.0,Male,White,NaN,NaN,Natural Causes,NaN,10476-059,2352.0
2,Texas,2015,January,2015-01-02,Carswell,54.0,Female,White,NaN,NaN,Natural Causes,NaN,58959-060,2354.0
3,New York,2015,January,2015-01-02,New York,50.0,Male,White,NaN,NaN,Natural Causes,NaN,69359-054,2409.0
4,Texas,2015,January,2015-01-03,Carswell,61.0,Female,Black,NaN,NaN,Natural Causes,NaN,18901-078,2354.0